@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  src: local("Involve"),
  url('/fonts/PT-Root-UI_Regular.woff2') format("woff2");
}
@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  src: local("Involve"),
  url('/fonts/PT-Root-UI_Medium.woff2') format("woff2");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  src: local("Involve"),
  url('/fonts/PT-Root-UI_Bold.woff2') format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  cursor: default;
  font-family: 'PT Root UI', sans-serif;
}